# Byte-compiled files
__pycache__/
*.pyc

# Virtual environments
venv/

# Environment variables
.env
*.env

# System files
.DS_Store
.idea/
*.iml
.vscode/

# Other
*.log
*.bak

# Drafting folder (not for github)
drafts/

# Don't upload gitignore (for now)
.gitignore